# IDE
/.idea

# Composer
/vendor
/composer.lock

# Environment
/application/config/environment.yaml

# Runtime
/application/_runtime

# Test
/.report
/test/case/_runtime
/test/case/config/route.php
/test/case/config/environment.yaml