# IDE
/.idea

# Composer
/vendor
/composer.lock

# Application
/application/config/environment.yaml
/application/_runtime

# Workbench
/workbench
/test/case/_runtime
/test/case/config/route.php
/test/case/config/environment.yaml