<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="CodeMommy WebPHP">
            <directory suffix="Test.php">./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./system</directory>
            <exclude>
                <file>./system/Application.php</file>
                <file>./system/Controller.php</file>
                <file>./system/Database.php</file>
                <file>./system/Debug.php</file>
                <file>./system/Environment.php</file>
                <file>./system/Log.php</file>
                <file>./system/Mail.php</file>
                <file>./system/Model.php</file>
                <file>./system/Route.php</file>
                <file>./system/View.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="./.report" charset="UTF-8"/>
    </logging>
</phpunit>