<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="CodeMommy WebPHP">
            <directory suffix="Test.php">./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./system</directory>
            <directory suffix=".php">./test_case/library/Demo</directory>
            <exclude>
                <directory suffix=".php">./system/interface</directory>
                <file>./system/library/Autoload.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./workbench/code_coverage_report/clover/clover.xml"/>
        <log type="coverage-html" target="./workbench/code_coverage_report/html"/>
    </logging>
</phpunit>