<!DOCTYPE html>
<html>
<head>
    <title>LuckyPHP - PHP Framework of Light and Fast, Free and Open Source</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0">
    <meta name="author" content="LuckyPHP.com">
    <meta name="keywords" content="LuckyPHP,PHP,Light,Fast,Free,Open Source,Framework,PHP7">
    <meta name="description" content="LuckyPHP, a PHP Framework of Light and Fast, Free and Open Source.">
    <link rel="stylesheet" href="{% $static %}/vendor/buttons/buttons.css">
    <link rel="stylesheet" href="{% $static %}/style/index.css">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="/favicon.ico">
</head>
<body>
<div class="menu">
    <div class="container">
        <a href="/" title="Home">Home</a>
        <a href="https://github.com/ShareAny/LuckyPHP/blob/master/README.md#overview" target="_blank" title="Overview">Overview</a>
        <a href="https://github.com/ShareAny/LuckyPHP/blob/master/README.md#download--documentation" target="_blank"
           title="Download">Download</a>
        <a href="https://github.com/ShareAny/LuckyPHP/blob/master/README.md#download--documentation" target="_blank"
           title="Documentation">Docs</a>
        <a href="https://github.com/ShareAny/LuckyPHP/issues" target="_blank" title="QA">QA</a>
        <a href="https://github.com/ShareAny/LuckyPHP" target="_blank" title="GitHub">GitHub</a>
    </div>
</div>
<div class="container">
    <div><h1>LuckyPHP</h1></div>
    <div class="text">PHP Framework of Light and Fast</div>
    <br>
    <div class="text">Free and Open Source</div>
    <br>
    <br>
    <div class="download">
        <a href="https://github.com/ShareAny/LuckyPHP/blob/master/README.md#download--documentation" target="_blank"
           class="button button-primary button-pill"
           title="Download">Download</a>
    </div>
    <div style="display: none;">
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1455279'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "v1.cnzz.com/stat.php%3Fid%3D1455279' type='text/javascript'%3E%3C/script%3E"));</script>
    </div>
</div>
</body>
</html>